.empty-collection{
    width: 100%;
    height: 100%;
    border: medium dashed gray;
    border-radius: 15px;
    opacity:20%;
    transition: .7s opacity;
    cursor: pointer;
    user-select:none;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.cards-container-div {
    position: relative;
    width: 200px;
    height: 300px;
}

.cards-container-div:hover .remove-button{
    opacity:40%;
}

.filled-collection:hover .main-card-div{
    transition: .7s box-shadow;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 60px 80px rgba(0, 0, 0, 0.12);
}

.empty-collection:active{
    transform: translateY(4px);
    box-shadow: 5px 0 20px 0px #d0d0d0;
}

.remove-button{
    position: absolute;
    width:22px;
    height:35px;
    bottom:2%;
    left: 4%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../sources/trashcan-0.png');
    background-size: contain;
    opacity:0;
    transition: .7s opacity;
}

.remove-button:hover{
     background-image: url('../sources/trashcan-1.png');
}

.cards-holder-field-div {
    width: 200px;
    height: 300px;
    margin: 5%;
    text-align: center;

}

.back-card-div {
    left: 0px;
    position: absolute;
    display: flex;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #F7F7F7;
    box-shadow: 5px 0 10px 5px rgba(208,208,208,0.6);
    border-radius: 15px;
}

.modal-card-creation{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background:rgba(0,0,0,0.4);

}

.modal-content-container{
    position:absolute;
    display: flex;
    width:400px;
    height:500px;
    z-index:15;
    left:40%;
    top:30%;
    background-color:white;
    border-radius:10px;
    align-items:center;
    justify-content:center;
}


.close-modal-cross{
    position:absolute;
    width:15px;
    height:15px;
    cursor:pointer;
    opacity:50%;
    top: 5.5%;
    right:5%;
    transition: .5s opacity;
}

.close-modal-cross:hover{
    opacity:100%;
    transition: .5s opacity;
}

.modal-content-field{
    text-align:center;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width:90%;
    height:75%;
    padding-top:6%;
}

.modal-content-field input{
    margin-bottom:6%;
    width:95%;
    height:10%;
    text-align:center;
}

.modal-content-field p{
    position:relative;
    color: rgba(0,0,0,.8);
    top:8%;
    left:5%;
    width:15%;
    font-family: cursive;
    background-color:white;
    background-size: 2px;
}

.modal-content-field textarea{
    width:95%;
    height:50%;
    padding:3%;
    overflow:auto;
    resize:none;
}

.modal-content-field textarea,input{
    border: 1px solid rgba(0,0,0,0.3);
    border-radius:5px;
    outline:none !important;
}

.modal-content-field textarea:focus,input:focus{
    border: 2px solid rgba(0,0,0,0.5)
}

.modal-content-container > p{
    position:absolute;
    top:3.5%;
    font-size:24px;
    font-family: Georgia;
}

.modal-content-field button{
    position:absolute;
    bottom:3%;
    left:35%;
    font-family: Georgia;
    background-color:#fff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius:5px;
    width:30%;
    height:7%;
}

.modal-content-field button:hover{
    border: 2px solid rgba(0,0,0,0.5)
}

.main-card-div {
    height: 100%;
    width: 100%;
    box-shadow: 5px 0 10px 5px rgba(208,208,208,0.6);
    background-color: #fff;
    border-radius: 15px;
    transition: .7s box-shadow;
    user-select:none;
}

.main-card-div p {
    position:absolute;
    margin:0;
    color: black;
    opacity: 50%;
    bottom:2%;
    right:3%;
}

.main-card-div h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.cards-container-div a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.empty-collection img{
    width:35px;
    height:35px;
}

.title-text{
    margin-bottom:0;
    margin-top:5%;
}

.empty-collection:hover{
    opacity:60%;
    transition: .7s opacity;
}

.empty-collection div:nth-child(2){
    margin-top:60%;
    display:none;
}

.empty-collection div:nth-child(2) p{
    margin:0;
}

.empty-collection > p{
    transition: .7s display;
    margin-top:70%;
}

.empty-collection:hover > p{
    display:none;
    transition: .7s display;
}

.empty-collection:hover div:nth-child(2){
    display:block;
    transition: .7s display;
}

.empty-collection div:nth-child(2){
    display:none;
    transition: .7s display;
}



