#general-content-block {
    justify-content: center;
    align-items: center;
    display: flex;
}

#collections-list-container {
    display: flex;
    flex-wrap: wrap;
}

#adding-buttons {
    position: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    opacity: 60%;
}

#adding-buttons a {
    position: center;
    text-decoration: none;
    color: black;
    margin-right: 5%;
    margin-top: 2%;
}

#side_bar {
    background_color: black;
}

#side_bar_elements {
    width: 100%;
    background_color: black;
}

#side_bar_block {
    width: 16%
}

#side-bar-menu-div {
    width: 14%;
}

#index-container{
    width: 100%;
    height: auto;
}

