{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<script src="{% static 'brainup/js/index.js' %}"></script>
<link rel="stylesheet" href="{% static 'brainup/css/index.css' %}"/>

<div id="index-container">
    <div id="adding-buttons">
        <a href="{% url 'card_creation' %}">+Создать карточку</a>
        <a href="{% url 'collection_creation' %}">+Создать коллекцию</a>
    </div>
    {% if collections %}
    <div id="collections-list-container">
        {% for collection in collections %}
            {% if collection.cards.count > 0 %}
                <div class="cards-holder-field-div">
                    <div class="cards-container-div filled-collection" title="Description: {{ collection.description }}" data-id="{{ collection.id }}" data-title="{{collection.title}}">
                        {% if collection.cards.count > 1 %}
                            <div class="back-card-div"></div>
                        {% endif %}
                        {% if collection.cards.count > 2 %}
                            <div class="back-card-div"></div>
                        {% endif %}
                        {% if collection.cards.count > 4 %}
                            <div class="back-card-div"></div>
                        {% endif %}
                        <div class="remove-button"></div>
                        <a href="{% url 'collection' collection.id %}">
                            <div class="main-card-div">
                                <p>cards: {{collection.cards.count}}</p>
                            </div>
                        </a>
                        <p class="title-text">{{ collection.title }}</p>
                    </div>
                </div>
            {% else %}
                <div class="cards-holder-field-div">
                    <div class="cards-container-div empty-collection" title="Description: {{ collection.description }}" data-id="{{ collection.id }}">
                        <p>Collection is empty</p>
                        <div>
                            <p>Add card</p>
                            <img src="{% static 'brainup/sources/plus.png' %}">
                        </div>
                        <div class="remove-button"></div>
                    </div>
                    <p class="title-text">{{ collection.title }}</p>
                </div>
            {% endif %}
        {% endfor %}
        <div class="modal-card-creation">
            <div class="modal-content">
                <div class="modal-header"></div>
                <input type="text" size="20" placeholder="Write card front side">
                <input type="text" placeholder="Write card back side">
                <button>Создать</button>
            </div>
        </div>
    </div>


    {% else %}
    <h1>There are no collections available</h1>
    {% endif %}
</div>
<script>
    let collection_api_url = '{% url 'brainup_api:collections_list' %}'

</script>
{% endblock %}


