{% extends "base_generic.html" %}
{% block content %}
{% load static %}



<link rel="stylesheet" href="{% static 'brainup/css/show_expired.css' %}">

<div>
    {% if collections %}
    <div class="expired-cards-info-block" style="display:flex; flex-direction:row">
        <p class="page-text">Всего карт для повторения на сегодня: </p>
        <p class="page-text" id="number-holder-1"></p>
    </div>
    <div id="selector-container">
        <p class="page-text">Select collection:</p>
        <select id="collection-selector">
            <option value="-1" data-count="">All</option>
        </select>
    </div>
    <div id="info-container">
        <div class="expired-cards-info-block" style="display:flex; flex-direction:row">
            <p class="page-text">Карт для повторения в выбранной коллекции: </p>
            <p class="page-text" id="number-holder-2"></p>
        </div>
        <button id="start-learn-button">Учить</button>
    </div>

    {% else %}
    <p id="congrats-message">Поздравляю! Ты повторил все необходимые карточки на сегодня!</p>
    {% endif %}
</div>

<script src="{% static 'brainup/js/show_expired.js' %}"></script>
<script>
        let redirect_url = '{% url 'learn_expired' %}'
        let collections_list = [{{collections|safe}}][0]
        console.log(collections_list)
</script>

{% endblock %}