{% extends "base_generic.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'brainup/css/collection.css' %}">
<script src="{% static 'brainup/js/collection.js' %}"></script>

<div id="collection-content-div">
    {% if collection.cards.all %}
    <h2 style="margin-top:3%;">{{ collection.title }}</h2>
    <p style="opacity:40%">Tap to card to see back side</p>
    <a class="learning_collection_btn"
       href="{% url 'learning' collection.id %}">Учить</a>
    <div id="collection-cards-div">
        {% for card in collection.cards.all %}
        <div class="flip-card-container">
            <div class="flip-card" data-id="{{ card.id }}" data-front="{{ card.front_side }}">
                <div class="flip-card-front">
                    <p class="flip-card-front-content">
                        {{card.front_side}}
                    </p>
                    <div class="remove-button"></div>
                </div>
                <div class="flip-card-back">
                    <p class="flip-card-back-content">
                        {{card.back_side}}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        var showing_cards = document.querySelectorAll('.flip-card')
        showing_cards.forEach((card) => {
        card.addEventListener('click', function() {
        card.classList.toggle('is-flipped')})})
        let remove_url = '{% url 'brainup_api:cards_list' %}'
    </script>
    {% else %}
    <h2>There are no cards available in {{collection.title}}</h2>
    <h3>Do you want to <a href="{% url 'card_creation' %}">create</a> new card?</h3>
    {% endif %}
    {% endblock %}
</div>
