{% extends "base_generic.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'brainup/css/collection.css' %}">

<div id="collection-content-div">
    {% if collection %}
    <h2 style="margin-top:3%;">{{ collection.title }}</h2>
    <p style="opacity:40%">Tap to card to see back side</p>
    <a id="start_learning_collection_btn"
       href="{% url 'learning' collection.id %}">Учить</a>
    <div id="collection-cards-div">
        {% for card in collection.cards.all %}

        <div class="flip-card-container">
            <div class="flip-card">
                <div class="flip-card-front" onclick="turn_front_func()">
                    <p id="flip-card-front-content">
                        {{card.front_side}}
                    </p>
                </div>
                <div class="flip-card-back" onclick="turn_back_func()">
                    <p id="flip-card-back-content">
                        {{card.back_side}}
                    </p>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>

    <script>
        var showing_cards = document.querySelectorAll('.flip-card')
        showing_cards.forEach((card) => {
        card.addEventListener('click', function() {
        card.classList.toggle('is-flipped')})})

    </script>
    {% else %}
    <h1>There are no cards available</h1>
    {% endif %}
    {% endblock %}
</div>
